body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
  line-height:1.6;
}
 
 img {
  width: 500px;
  height: 200px;
  object-fit: contain;
  padding-left:410px;
  image-rendering: pixelated;
 }

 .grid-container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: #11b634;
  padding: 10px;
}

button {
  padding: 25px 100px;
  background-color: lightgoldenrodyellow;
  font-weight: bolder;
  font-size: 24px;
  color: sienna;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.15, 1.15);
}


.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

 .modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;  
  background-color: rgba(0,0,0,0.5); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 100px
}

